In [20]:
import pandas as pd
df = pd.read_excel (r'consumo_energia.xlsx')
print (df)

            Data     Tempo  Grupo1  Grupo2  Grupo3  Unnamed: 5 Unnamed: 6  \
0     2019-11-24  00:00:00       0       2       0         NaN        NaN
1     2019-11-24  00:01:00       0       1       0         NaN        NaN
2     2019-11-24  00:02:00       0       2       0         NaN        NaN
3     2019-11-24  00:03:00       0       1       0         NaN        NaN
4     2019-11-24  00:04:00       0       1       0         NaN        NaN
...          ...       ...     ...     ...     ...         ...        ...
2875  2019-11-25  23:55:00       0       1       0         NaN        NaN
2876  2019-11-25  23:56:00       0       1       0         NaN        NaN
2877  2019-11-25  23:57:00       0       2       0         NaN        NaN
2878  2019-11-25  23:58:00       0       1       0         NaN        NaN
2879  2019-11-25  23:59:00       0       1       0         NaN        NaN

      Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11
0            NaN         NaN         NaN          NaN          NaN
1            NaN         NaN         NaN          NaN          NaN
2            NaN         NaN         NaN          NaN          NaN
3            NaN         NaN         NaN          NaN          NaN
4            NaN         NaN         NaN          NaN          NaN
...          ...         ...         ...          ...          ...
2875         NaN         NaN         NaN          NaN          NaN
2876         NaN         NaN         NaN          NaN          NaN
2877         NaN         NaN         NaN          NaN          NaN
2878         NaN         NaN         NaN          NaN          NaN
2879         NaN         NaN         NaN          NaN          NaN

[2880 rows x 12 columns]

In [4]:
df.describe() #describe gives the stats for the df

,Grupo1,Grupo2,Grupo3,Unnamed: 5,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
count,2880.000000,2880.000000,2880.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,0.754167,1.136806,6.005556,NaN,NaN,NaN,NaN,NaN,NaN
std,4.909955,5.166895,8.329776,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,0.000000,1.000000,17.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,38.000000,40.000000,19.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.Grupo1.quantile([0.25, 0.5, 0.75, 1]) # showing the quartiles

0.25     0.0
0.50     0.0
0.75     0.0
1.00    38.0
Name: Grupo1, dtype: float64

In [8]:
df.Grupo2.quantile([0.25, 0.5, 0.75, 1])

0.25     0.0
0.50     0.0
0.75     1.0
1.00    40.0
Name: Grupo2, dtype: float64

In [9]:
df.Grupo3.quantile([0.25, 0.5, 0.75, 1])

0.25     0.0
0.50     0.0
0.75    17.0
1.00    19.0
Name: Grupo3, dtype: float64

In [23]:
import numpy as np   #showing descriptive stats measures
mean = df.Grupo1.mean()
stddev = df.Grupo1.std()
mode = df.Grupo1.mode()
print('mean:', mean)
print('std deviation:', stddev)
print('mode:', mode)

# do Grupo2:

mean2 = df.Grupo2.mean()
stddev2 = df.Grupo2.std()
mode2 = df.Grupo2.mode()
print('mean:', mean2)
print('std deviation:', stddev2)
print('mode:', mode2)

# do Grupo3:

mean3 = df.Grupo3.mean()
stddev3 = df.Grupo3.std()
mode3 = df.Grupo1.mode()
print('mean:', mean3)
print('std deviation:', stddev3)
print('mode:', mode3)

mean: 0.7541666666666667
std deviation: 4.909955082212348
mode: 0    0
dtype: int64
mean: 1.1368055555555556
std deviation: 5.1668950021815805
mode: 0    0
dtype: int64
mean: 6.0055555555555555
std deviation: 8.32977624673286
mode: 0    0
dtype: int64

In [25]:
#cálculos dos coeficientes de variação

cv1 = stddev/mean
print('cv1 =', cv1)
cv1 = stddev2/mean2
print('cv2 =', cv1)
cv1 = stddev3/mean3
print('cv3 =', cv1)

cv1 = 6.5104376780716215
cv2 = 4.545100063006399
cv3 = 1.3870117709638436

In [13]:
# este é apenas um modelo de exercício
# a vigilância sanitária mediu 10 bifes de um restaurante vendidos como bifes de 200g

bifes = [170, 175, 180, 185, 190, 195, 200, 200, 200, 205]

In [14]:
print(bifes) #pesos dos bifes guardados em uma lista

[170, 175, 180, 185, 190, 195, 200, 200, 200, 205]

In [16]:
df1 = pd.DataFrame(bifes) #transformando a lista em um data frame

In [17]:
print(df1)

     0
0  170
1  175
2  180
3  185
4  190
5  195
6  200
7  200
8  200
9  205

In [18]:
df1.describe() # fazendo os cálculos estatísticos do df

                0
count   10.000000
mean   190.000000
std     12.018504
min    170.000000
25%    181.250000
50%    192.500000
75%    200.000000
max    205.000000

In [19]:
#achados:
#1 a média de peso dos bifes é de 190g, assim a maioria dos clientes estão sendo lesados;
#2 o desvio padrão é de 12g assim a qualidade dos cortes está ruim;
#3 apenas 30% dos bifes está cortado no padrão